.container-imp {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 1140px !important;
    max-width: 99%;
    margin: auto;
    --bs-gutter-x: 0 !important;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Start navbar */
@media (max-width: 1400px) {
    .navbar-nav .line-p {
        margin-left: 55px;
    }
}

@media (max-width: 1200px) {
    .navbar-nav .line-p {
        margin-left: 43px;
    }
}

@media (max-width: 991px) {
    .navbar-nav .line-p:hover::before {
        display: none;
    }
}

/* End navbar */